<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<h1>Account form</h1>
<form th:action="@{/accounts/create}" method="post" th:object="${account}">
    <div>
        Name <input type="text" th:field="*{fullName}">
        <span class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name
            Error</span>
    </div>
    <br>
    <div>
        Email <input type="text" th:field="*{email}">
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name
            Error</span>
    </div>

    <div>
        Password <input type="password" th:field="*{password}">
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
            Error</span>
    </div>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>